<header class=" group">
	<div class="inner">
	<div class="logo">
		<a href="/">Play My Song</a>
	</div>
	<ul>
		<li><a href="/">Setlist</a></li>
		<li><a href="/">Shows</a></li>
		<li><a href="/">Log Out</a></li>
	</ul>
	</div>
</header>
