<h1><%= @event.venue %></h1>

<% @set_items.each do |set_song| %>
  <ul>
    <li>
      <%= button_to "#{set_song.song.title} by #{set_song.song.artist} - votes: #{set_song.vote_count}", controller: "votes", action: "create", set_item_id: set_song.id, audience_member_id: session[:audience_member_id] %>
    </li>
  </ul>
<% end %>
