<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @audience_member.email %>
</p>

<%= link_to 'Edit', edit_audience_member_path(@audience_member) %> |
<%= link_to 'Back', audience_members_path %>
