/*************************************
 * 	01. CSS Reset
 * 	02. Base Styles
 * 	03. Header
 * 	04. Utility Classes
 * 	05. Form Elements
 * 	06. Tables
 * 	07. Sections
 * 	08. Footer
 ************************************/


/* http://meyerweb.com/eric/tools/css/reset/
 v2.0 | 20110126
 License: none (public domain)
 */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	font: inherit;
	font-size: 100%;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-spacing: 0;
	border-collapse: collapse;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

strong em, em strong {
	font-weight: bold;
	font-style: italic;
}

.group:before, .group:after {
	display: table;
	content: "";
}
.group:after {
	clear: both;
}
.group {
	zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}





/* ------------------------------------------
 * Base Styles
 * ------------------------------------------ */

body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 62.5%;
	background: #fff;
}

.content {
	background: #edf1f8;
	min-height: 600px;
	padding-top: 73px;
}

h1 {
	font-size: 4em;
	margin-bottom: 20px;
}

h2 {
	font-size: 2.8em;
	margin-bottom: 20px;
}

p {
	font-size: 1.6em;
}

a {
	text-decoration: none;
	cursor: pointer;
	font-size: 1.6em;
	color: rgba(0, 0, 0, 0.5);
}

a:hover {
	color: rgba(0, 0, 0, 0.75);
}

ul {
	font-size: 1.6em;
}







/* ------------------------------------------
 * Header
 * ------------------------------------------ */

header {
	background: #313C53;
	border-bottom: 1px solid #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
	letter-spacing: 1px;
	position: absolute;
	width:100%;
}

header .logo a {
	color: #9CFF00;
	float:left;
	font-size: 2.4em;
	padding: 1em 1em 1em 0;
	text-transform: UPPERCASE;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 1);
}

header ul {
	float: right;
	padding-top: 0.8em;
	font-size: 1em;
}

header ul a {
 	color: #fff;
 	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
 	font-size: 1.8em;
}

header ul a:hover {
	color: #B6C0D2;
}

header li {
	display: inline-block;
	padding: 2em;
}

header li:last-child {
	padding-right: 0;
}





/* ------------------------------------------
 * Utility Classes
 * ------------------------------------------ */

.inner {
	max-width: 1140px;
	width: 95%;
	margin: 0 auto;
}





/* ------------------------------------------
 * Form Elements
 * ------------------------------------------ */

input {
	font-size: 1.6em;
}

input[type="submit"] {
	padding: 0.5em 1em;
	background: none;
	border: 1px solid #000;
	cursor: pointer;
}




/* ------------------------------------------
 * Tables
 * ------------------------------------------ */

table {
	width: 100%;
	font-size: 1.6em;
	margin: 20px 0;
}

table a {
	font-size: 1em;
	margin-right: 1em;
}

table a:last-child {
	margin-right: 0;
}

th {
	text-align: left;
	border-bottom: 1px solid #ccc;
	padding: 1em 1em 0.5em 1em;
}

td {
    padding: 1em;
}




/* ------------------------------------------
 * Sections
 * ------------------------------------------ */

.events,
.songs {
	padding: 4em 0;
}

.new-song {
	background: #B6C0D2;
	border-radius: 3px;
	padding: 3em;
	border: 1px solid #313C53;
	
}

.new-song .field {
	float:left;
	width: 40%;
}

.new-song input[type="text"] {
	display: block;
	padding: 0.4em;
	width: 95%;
	font-size: 1.8em;
}

.new-song .actions {
	float:right;
	width: 20%;
}

.new-song input[type="submit"] {
	margin-top: 0.2em;
	float:right;
}




/* ------------------------------------------
 * Footer
 * ------------------------------------------ */

footer {
	box-shadow: inset 0 10px 10px -10px rgba(0, 0, 0, 0.3);
	text-align: center;
	padding: 4em 2em 6em 2em;
	background: #fff;
	border-top: 1px solid #B6C0D2;
}











