<header class="inner group">
   <h1 class="left"><strong>AARM</strong> Live</h1> 
    <nav class="right">
        <%= link_to "Log In", new_user_session_path %> 
	<a href="/users/sign_up">Sign Up</a>
    </nav>
</header>
<section class="hero inner group">
    <div class="hero-text left">
<h1>Artist Audience Relationship Management Tool</h1>
<h2>Connecting to your live audiences through their mobile devices</h2>
        </div>
    <%= image_tag("iMac.png", class: "right", height: "50%", width: "50%") %>
    </section>

